################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Forex/bin/Debug
/Forex/obj/Debug
/packages
/.vs/Forex/v15
/Forex/bin/Release
/Forex/obj/Release
/Setup/Release
